<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>kevindmorgan</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">

	<script src="static/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
<div role="main">
	<header>
		<h1>kevindmorgan</h1>
		<nav class="span2">
			<ul class="nav nav-tabs nav-stacked">
				<li><a href="#whoiam">Who I am</a></li>
				<li><a href="#career">Career</a></li>
				<li><a href="#education">Education</a></li>
				<li><a href="#personal">Personal</a></li>
			</ul>
		</nav>
	</header>
	<div class="span10">
		<section id="whoiam">
			<h1>Who I am</h1>
		</section>
		<section id="career">
			<h1>Career</h1>
		</section>
		<section id="education">
			<h1>Education</h1>
		</section>
		<section id="personal">
			<h1>Personal</h1>
		</section>
	</div>
</div>
<footer>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="static/js/plugins.js"></script>
<script src="static/js/script.js"></script>
</body>
</html>
