<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kevin Carrogan</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="cLfbiXNkdDnh9mp9YXz1WE1mxyWGXNiNIc7LADn892A" />
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.6.1.min.js"></script>

        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
</head>
<body>

    <header>
        <h1>Kevin Carrogan</h1>
    </header>

    <main>

        <p>I'm Kevin, I'm a web developer and I'm ok with that.</p>

        <p>I currently code in Python and don't hate JavaScript like a lot of people do (in fact I kind of like it but don't tell anyone) but don't even get me started on CSS, seriously it's 2014 and we still can't vertically align easily.</p>

        <p>I spend my 9-to-5 at <a href="http://p.ota.to">Potato</a> as a senior developer but even in my spare time I like making websites and sometimes the things I make are <a href="http://developerarguments.com">popular</a> but a lot of the time not even my friends will use something <a href="http://bogogger.com">I made</a> but it doesn't stop me from trying.</p>

        <p>Like any good developer these days you can see how I make things on <a href="http://github.com/kevincarrogan">Github</a> including <a href="https://github.com/kevincarrogan/kevin.carrogan.com">this website</a>.</p>

        <p>When I choose to procrastinate I spend my time on <a href="http://www.reddit.com/user/kevindmorgan/">Reddit</a> but I still don't get how an <a href="http://www.reddit.com/r/movies/comments/23zmwh/new_look_at_michael_fassbender_marion_cottilard/ch27yl7">inane comment</a> has gotten me the most comment karma.</p>

        <p>I like to code with my headphones on (but that doesn't mean I'm not willing to talk) and you'll mostly find me listening to <a href="http://open.spotify.com/user/kevindmorgan/playlist/6eN41BCOFkEEEM8otWSsSh">Post Rock</a>. You might even catch me listening to {{#lastfm}}<a href="{{link}}">{{title}}</a>{{/lastfm}}.</p>

        <p>Well, that's about it. Have a good day. Oh and here's some links so you can find out way too much about me.</p>

        <ul>
            <li><a href="http://twitter.com/kevincarrogan">Twitter</a></li>
            <li><a href="http://github.com/kevincarrogan">Github</a></li>
            <li><a href="http://linkedin.com/in/kevincarrogan">LinkedIn</a></li>
            <li><a href="http://www.reddit.com/user/kevindmorgan/">Reddit</a></li>
            <li><a href="http://last.fm/user/kevbear">last.fm</a></li>
            <li><a href="http://boardgamegeek.com/user/kevindmorgan">BoardGameGeek</a></li>
        </ul>

    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31823248-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
