<!doctype html>
<html>
    <head>
        <style>
            body {
                font-family: 'Roadgeek 2005 Series C';
            }
        </style>
        <link rel="stylesheet" href="/static/css/lastfm.css" />
    </head>
    <body>
        <div class="track-information track-transition">
            <div class="artist">{{ artist }}</div>
            <div class="track">{{ track }}</div>
            <img class="image" src="{{ image_url }}" />
        </div>
        <div class="new-track-information track-transition">
            <div class="artist"></div>
            <div class="track"></div>
            <img class="image" src="{{ image_url }}" />
        </div>
        <script src="/static/js/vendor/jquery-1.8.0.min.js"></script>
        <script src="/static/js/status-board/lastfm.js"></script>
    </body>
</html>