<!doctype html>
<html>
    <head>
        <style>
            body {
                font-family: 'Roadgeek 2005 Series C';
            }
        </style>
    </head>
    <body>
        {{ artist }}
        {{ track }}
        <img src="{{ image_url }}" />
    </body>
</html>