html {
    height: 100%;
    text-align: center;
}

.track-information, .new-track-information {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
}

.track-transition {
    -webkit-transition: -webkit-transform 0.5s linear;
}

.new-track-information {
    -webkit-transform: translateX(100%);
}

.track-out {
    -webkit-transform: translateX(-100%);
}

.track-in {
    -webkit-transform: translateX(0);
}
