body {
    color: #333;
    font-family: Merriweather, Georgia, Cambria, "Times new roman", serif;
    font-size: 1em;
    line-height: 1.4;
    padding: 0 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header, main {
    margin: 0 auto;
    width: 90%;
}

main {
    line-height: 2rem;
}

main p:first-of-type {
    font-size: 1.75rem;
    line-height: 3rem;
    margin-top: 2.5rem;
}

.about-me-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

    html {
        font-size: 115%; /* 1 */
        -webkit-text-size-adjust: 115%; /* 2 */
        -ms-text-size-adjust: 115%; /* 2 */
    }

    header, main {
        width: 30rem;
    }
}
