#personal p {
	width:66%;
	float: left;
}
#personal-map {
	height: 250px;
	width: 250px;
}
.sidebar-nav .no-touch {
	position: fixed;
}
@media (max-width: 767px) {
	.sidebar-nav {
		position: relative;
	}
}